<div>                                                                      
<form name='form' action='/sn'>
	Serialnumber: <input type=text /> <input type='submit' value='Søg' action=''>        
</form>
<div>
                                                               